<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea de la semana 9 ,10 y 11</title>

    <style>
        h1 {
        color: #ff0000; 
        }
        h2 {
        color:rgb(255, 123, 0) ;
        }
        h3 {
        color: #0000ff; 
        }
        body{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 50px;
    background-color: black
}
    </style>
</head>
<body>
    <h1>
    EJERCICIOS RESUELTOS DE PROGRAMACION USANDO DJANGO DE LA SEMANA 9 Y 12
    </h1>
    <br>
    <h2>EJERCICIO 1:</h2>
    <h2>Contar la cantidad de vocales en la palabra computadora</h2>
    <h3>{{a}} </h3>
    <br>
    <h2>EJERCICIO 2:</h2>
    <h2>Separa la palabra computadora en comas </h2>
    <h3>{{b}} </h3>
    <br>
    <h2>EJERCICIO 3:</h2>
    <h2>Halla Suma de los 30 primeros numeros impares</h2>
    <h3>{{c}}</h3>
    <br>
    <h2>EJERCICIO 4:</h2>
    <h2>Halla Suma de los 100 primeros numeros pares</h2>
    <h3>{{d}}</h3>
    <br>
    <h2>EJERCICIO 5:</h2>
    <h2>Hacer la tabla de multiplciar del 7 hasta el 10</h2>
    <h3>{{e}}</h3>
    <br>
    <h2>EJERCICIO 6:</h2>
    <h2>hallar la suma de los 50 primeros numeros</h2>
    <h3>{{f}}</h3>
    <br>
    <h2>EJERCICIO 7</h2>
    <h2>Determinar que hora es   si pasara 3 segundo de la hora actual </h2>
    <h3>{{g}}</h3>
    <br>
    <h2>EJERCICIO 8</h2>
    <h2>Mostrar un aviso  por cada litro del balde que se llene y cuando un  balde llegue a 5 litros advierta que derramara el agua</h2>
    <h3>{{h}}</h3>
    <h3>{{advertencia}}</h3>
    <br>
    <h2>EJERCICIO 9:</h2>
    <h2>hacer la suma de los 20 primeros numeros</h2>
    <h3>{{k}}</h3>
    <br>
    <h2>EJERCICIO 10:</h2>
    <h2>Promedios de los primeros 80 numeros</h2>
    <h3>{{promedio1}}</h3>
    <br>
    <h2>EJERCICIO 11:</h2>
    <h2>mostrar los 20 primeros numeros</h2>
    <h3>{{n}}</h3>
    <br>
    <h2>EJERCICIO 12:</h2>
    <h2>cuantos de los 20 primeros numeros son divisibles entre 3</h2>
    <h3>{{ejercicio12}}</h3>
    <br>
    <h2>EJERCICIO 13:</h2>
    <h2>mostrar la suma de los numeros multiplos de 3 , menores que 100</h2>
    <h3>{{p}}</h3>
    <br>
    <h2>EJERCICIO 14:</h2>
    <h2>mostrar los 50 primeros numeros </h2>
    <h3>{{q}}</h3>
    <br>
    <h2>EJERCICIO 15:</h2>
    <h2>Factorial de 10 usando dowhile </h2>
    <h3>{{fact}}</h3>

  

