
h1{
    color: blueviolet rgb(126, 0, 243)
}
h2{
    color: red rgb(165, 26, 26)
}
h3{
    color:aqua rgb(18, 221, 170)
}

body{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 50px;
    background-color: black
}